@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

@font-face {
    font-family: 'Pricedown';
    src: url('pricedown_bl-webfont.woff2') format('woff2'),
         url('pricedown_bl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #333;
}

html, body {
    margin: 0;
    padding: 0;
}
.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
    margin: 0 auto;
}
.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    display: block;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}

.main-nav {
    padding: 0 15%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}
.main-header {
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0, .6);
    background-image: url("https://wallpapercave.com/wp/wp7175359.png");
    background-blend-mode: multiply;
    background-size: cover;
    padding: 30px;
}

.name {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 4em;
    font-family: "Pricedown";
    font-weight: normal;
    color: white;
}

.name-large {
    font-size: 7em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: "Teko", sans-serif;
    font-weight: normal;
    color: black;
    text-align: center;
    font-size: 2.5em;
}

.cj-image {
    float: right;
    height: 220px;
    width: 200px;
    margin: 15px;
}

.cj-image2 {
    float: left;
    height: 220px;
    width: 200px;
    margin: 15px;
}

.main-footer {
    background-color: #774d22;
    color: white;
    padding: .25em 0;
    margin-top: 55vh;
    width:100%;
    bottom:0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
    flex-direction: column;
}

.footer-nav li {
    padding: 0 .5em;
}

.btn {
    padding: .67em;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

.btn-header {
    margin: 1em auto;
    color: white;
    border: 2px solid #774d22;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.download-section {
    text-align: center;
    font-family: 'Kanit', sans-serif;
}
.btn-download {
    appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.btn-download:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.btn-download:hover {
    background-color: #2c974b;
}
  
.btn-download:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}
  
.btn-download:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}
  
.btn-download:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.item-shop {
    margin: 30px;
}

.item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.item-image {
    height: 250px;
    width: 250px;
}

.item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.item-price {
    flex-grow: 1;
    color: #333;
}

.items-shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 45%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 45%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: rgb(247, 122, 122);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: red;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #774d22;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.50em;
}